.women {
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  padding-top: 2rem;
}
@media (max-width: 620px) {
  .women {
    max-width: 85vw;
  }

  .women-h1 {
    font-size: 1.4rem;
  }
}

@media (min-width: 335px) and (max-width: 515px) {
  .felx-fillter {
    padding-top: 1.2rem;
  }
  .women-h1 {
    font-size: 16px;
  }
  .fillter-i {
    padding: 6px 6px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 11px;
  }
}
