.women {
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
  padding-top: 2rem;
}
@media (max-width: 620px) {
  .women {
    max-width: 85vw;
  }

  .women-h1 {
    font-size: 1.4rem;
  }
}

@media (min-width:320px ) and (max-width: 570px) {

.hide-small-screen ,.reponsive-hide{
  display: none;
}

}